body{
	background-image: url(img/arrow.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 5% 40%;
	background-attachment: fixed;
}

.main div{
	position: relative;
	
}

.main div{
	transition: 20s;
}

.main div:hover{
	transform: rotate(2800deg);
}

.main{
	background-color: green;
	width: 500px;
	height: 500px;
	margin: 25px auto;
}

.box1{
	background-color: #00FF06;
	left: 50px;
	top: 50px;
	height: 400px;
	width: 400px;
}

.box2{
	background-color: darkgreen;
	left: 50px;
	top: 50px;
	height: 300px;
	width: 300px;
}

.box3{
	background-color: #A2FF01;
	left: 50px;
	top: 50px;
	height: 200px;
	width: 200px;
}

.box4{
	background-color: #000000;
	left: 50px;
	top: 50px;
	height: 100px;
	width: 100px;
}

.box5{
	background-image: url(img/f1083541fc3f46e6c79b36bb398a0965.jpg);
	left: 25px;
	top: 25px;
	height: 50px;
	width: 50px;
	background-size: 100% 100%;
}

