*{
	margin: 0px;
	border: 0px;
	padding: 0px;
	/*font-size: 0px;*/
}

body{
	background-color: black;
	color: white;
}
a{
	text-decoration: none;
	color: white;
	transition: 2s;
}

a.class:hover{
	text-decoration: overline underline;
	font-size: 45px;
	font-family: vivaldi;
}
a.class:active{
	text-decoration: none;
	font-size: 35px;
}
a:hover{
	text-decoration: overline underline;
}
