body{
	background-color: black;
	color: white;
}

#home{
	background: linear-gradient(to top, #cc00cc, #000033);
    padding: 10px;
    border: 1px solid white;
    color: white;
    width: 220px;
    margin-left: 550px;
}
a.knopka {
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
} 
a.knopka:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.knopka:active { background: rgb(152,15,0); } /* при нажатии */

progress {
    width: 70%;
    height: 20px;
    color: orange;
    background: #efefef;
}
progress::-webkit-progress-bar {
    background: transparent;
}
progress::-webkit-progress-value {
    background: orange;
} 
progress::-moz-progress-bar {
    color: #3fb6b2;
    background: #efefef;
}

ol{
  color:red;
  font-size: 27px;
}

#header{
  color:rgb(255, 0, 128);
  text-align: center;
  text-decoration: underline;
  font-size: 55px;
}

#list{
  list-style-type: square;
  color: #00ffff
}

#center{
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

a{
  color:white;
  text-decoration: none;
}

.none{
  list-style-type: none;
  text-align: center;
}

.html{
  background-color: orange;
  color: black;
  text-align: justify;
  font-size: 19px;

}

.css{
  background-color: #00ffcc;
  color: black;
  text-align: justify;
  font-size: 19px;

}


.js{
  background-color: #e6e600;
  color: black;
  text-align: justify;
  font-size: 19px;

}


.a1:link{
  text-decoration:  none;
  transition: 1s;
}

.a1:visited{
  color: lightblue;
}
.a1:hover{
  font-size: 19px;
  color: white;
  text-decoration: underline overline;
}

.a1:active{
  font-size: 16px;
  color: darkred;
  text-decoration: line-through;
  font-family: cursive;
}

.logo{
  transition: 1s;
}

.logo:hover{
  width: 130px;
  height: 80px;
}

.logo:active{
  width: 140px;
  height: 90px;
}